<div class='jumbotron'>
  <div class='container'>
    <h1>About us</h1>
    <h3>Musicians Tribute Web Page</h3> </br> 
    <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails.</a> </br>
    The web page allows users to register, log in, and log out. Users can create new "tweets" dedicated to their favorite musicians and edit their own tweets.</p>
  </div>
</div>