<% if user_signed_in? %>
  <div class='jumbotron jumbotron-home'>
    <div class='container'>
      <h1>Welcome back! </h1>
    </div>
  </div>
<% else %>
  <div class='jumbotron jumbotron-home'>
    <div class='container'>
      <h1>Welcome to my website!</h1>
      <p>This is my template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <%= link_to 'Learn more', "#", class: 'btn btn-primary btn-lg' %>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h2>Heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis illum molestias beatae officiis sunt? Perferendis cum dignissimos saepe culpa vero officiis incidunt aliquid, fugit in ducimus! Laborum vero blanditiis aliquid? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat consequatur maiores minus amet. Ipsum commodi totam ipsam culpa, nisi tenetur aliquam accusamus assumenda ratione, dolorum quidem est nobis sit praesentium.      </p>
        <p> <%= link_to "View details", "#", class: 'btn btn-secondary' %> </p>
      </div>

      <div class='col-md-4'>
        <h4>Heading</h4>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat consequatur maiores minus amet. Ipsum commodi totam ipsam culpa, nisi tenetur aliquam accusamus assumenda ratione, dolorum quidem est nobis sit praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt incidunt porro perspiciatis ullam, sequi dolorum nisi officiis fugiat facilis autem, reiciendis esse quo accusantium sint consequuntur? Nulla harum unde reprehenderit?
   </p>
      </div>

      <div class='col-md-4'>
        <h4>Heading</h4>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum libero veniam nihil, aliquid eum magnam porro corporis voluptas natus doloribus consequuntur explicabo animi perspiciatis atque! Consequuntur assumenda sit nesciunt voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perspiciatis dolorem dolor possimus, eveniet recusandae nam, sit vitae quis aliquid ea autem libero cumque, quibusdam a? Quaerat facere sed excepturi.  </p>
      </div>
    </div>
  </div>
<% end %>

