<% if user_signed_in? %>
  <div class='jumbotron jumbotron-home'>
    <div class='container'>
      <h1>Welcome back! </h1>
    </div>
  </div>
<% else %>
  <div class='jumbotron jumbotron-home'>
    <div class='container'>
      <h1 class="text-light">Quotes from rock bands!</h1>
      <p class="text-light"> <strong>
      “When you go through tragedy, you can either let that destroy you and you become bitter and never let it go, or you can let it make you stronger and let it make you grow. And that's what I did. My lyrics are coming from a place that I want people to relate to and feel that they're not alone.”
      </strong>
      
      </p>
    
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h4>Chester Bennington</h4>
        <p>“When I'm writing, I'm constantly thinking about myself, because it's the only experience I have to draw on. And I don't see an exact reflection of myself in every face in the audience, but I know that my songs have validity to them, and that's why the fans are there.” </p>
      </div>

      <div class='col-md-4'>
        <h4>Amy Lee</h4>
        <p>“I know how it feels to be completely alone and helpless, and the last thing you want to hear in that situation is, 'It's going to be OK.' "The only thing that seems to really help is that someone else who has felt that low expressing those feelings to you.”
   </p>
      </div>

      <div class='col-md-4'>
        <h4>Avenged Sevenfold</h4>
        <p>“How do I live without the ones I love? Time still turns the pages of the book its burned. Place and time always on my mind. I have so much to say but your so far away.”</p>
      </div>
    </div>
  </div>
<% end %>

